/*
  accent: #ed459c
  pale: #f5b9d8
  dark: #333
  light: #eee
 */

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 24px;
  }
}

/**********/

/* work-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/work-sans-v19-latin-regular.woff2') format('woff2');
}

/* work-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/work-sans-v19-latin-700italic.woff2') format('woff2');
}

/**********/

body {
  background-color: #eee;
  color: #333;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5rem;
  margin: 0;
  position: relative;
}

button {
  background-color: white;
  border: 3px double #ed459c;
  color: #ed459c;
  display: inline-block;
  font-size: 1rem;
  font-family: monospace;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.5rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #ed459c;
  color: white;
}

em {
  color: #ed459c;
}

fieldset {
  border: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

footer {
  font-size: 0.75rem;
  line-height: 2rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  border-top: 1px solid #333;
  width: 100%;
  padding: 0.5em;
}

form input, form textarea {
  width: 100%;
  max-width: 20rem;
}

form input, form label {
  display: block;
}

form input, form label, form textarea {
  font-family: monospace;
  font-size: 1rem;
  line-height: 3rem;
}

form textarea {
  height: 6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  /* text-transform: uppercase; */
}

h1 {
  font-size: 4rem;
  margin: 0 0 2rem;
}

h1#mojo + h2 {
  text-align: center;
}

h1 + time {
  margin-bottom: 1.5em;
}

h2 {
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 0 2rem;
}

h3 {
  font-weight: bold;
  margin: 0 0 1rem;
}

main {
  max-width: 36rem;
  margin: 0 auto;
  padding: 8rem 1rem;
  position: relative;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #eee;
  border-bottom: 1px solid #333;
  width: 100%;
}

nav > ul > li {
  float: right;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 0.75rem;
}

nav > ul > li:first-child {
  float: left;
}

nav > ul > li:first-child img {
  width: 0.75rem;
  vertical-align: middle;
}

nav > ul > li:first-child:hover {
  background-color: transparent;
}

p {
  margin: 0 0 2rem;
}

p + ul {
  margin: 0 0 1.5rem 0;
  list-style-position: inside;
  list-style-type: disc;
}

p + ul > li {
  margin: 0;
}

strong {
  color: #ed459c;
  font-weight: bold;
}

time {
  display: block;
  font-family: monospace;
  line-height: 1.5rem;
}

time::before {
 content: '/ ';
}

time::after {
 content: ' /';
}


time + a {
  display: inline-block;
  line-height: 3rem;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

ul > li > h2 {
  border-bottom: none;
  display: block;
  margin-bottom: 1rem;
}
