<form action="https://formsubmit.co/e7040922e762bba85db0b42181dc60da" method="POST">
  <fieldset>
    <label for="name">Name</label>
    <input id="name" name="name" placeholder="Morgan Jones" type="text" required="required" />
  </fieldset>
  <fieldset>
    <label for="email">E-mail address</label>
    <input id="email" name="email" placeholder="hello@mojo.consulting" type="text" required="required" />
  </fieldset>
  <fieldset>
    <label for="message">Message</label>
    <textarea id="message" name="message" required="required"></textarea>
  </fieldset>
  <fieldset>
    <button name="submit" type="submit">Send</button>
  </fieldset>
  <!-- <p>Thank you for your message! we will respond to you shortly.</p> -->
</form>
