/*
  accent: #ed459c
  pale: #f5b9d8
  dark: #444444
 */

article > time {
  margin-bottom: 1.5em;
}

body {
  color: #444444;
  font-family: serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

button {
  background-color: transparent;
  border: 3px double #ed459c;
  color: #ed459c;
  display: inline-block;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.5em;
  padding: 1.5em 3em;
  text-decoration: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #ed459c;
  color: white;
}

em {
  color: #ed459c;
}

h1#mojo {
  border: none;
}

h1 > img {
  max-width: 8em;
}

fieldset {
  border: none;
  margin: 0 0 1.5em;
  padding: 0;
}

footer {
  font-size: 0.75em;
  line-height: 2em;
  position: absolute;
  bottom: 2em;
}

form input, form textarea {
  width: 100%;
  max-width: 20em;
}

form input, form label {
  display: block;
}

form input, form label, form textarea {
  font-family: monospace;
  font-size: 1em;
  line-height: 3em;
}

form textarea {
  height: 6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: 200;
}

h1 {
  border-bottom: 1px dotted #444444;
  font-size: 2em;
  margin: 0 0 0.75em;
}

h2 {
  display: inline-block;
  border-bottom: 1px dotted #444444;
  font-size: 1.5em;
  line-height: 2em;
  margin: 0 0 1em;
}

h3 {
  /* font-size: 1.5em; */
  font-weight: bold;
  /* line-height: 2em; */
  margin: 0 0 1em;
}

header {
  position: absolute;
  top: 0;
  line-height: 3em;
  z-index: 20;
  width: 100%;
}

input[type=checkbox]#menu {
  display: none;
}

input[type=checkbox]#menu + label {
  color: #ed459c;
  border-right: 3px double #444444;
  height: 1.5em;
  font-family: monospace;
  font-size: 2em;
  left: 0;
  line-height: 60px;
  padding-left: 15px;
  position: fixed;
  top: 0;
  transition: width 0.2s;
  width: 36px;
  z-index: 30;
}

input[type=checkbox]#menu:checked + label {
  width: 186px;
}

input[type=checkbox]#menu:checked ~ nav ol li a {
  width: 160px;
}

input[type=checkbox]#menu:checked ~ main {
  padding-left: 240px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 20px 120px 80px;
  position: relative;
}

main ol > li {
  border-top: 1px dotted #444444;
  margin-top: -1px;
  padding: 2em 0;
}

main ol > li > h2 {
  border: none;
  display: inline;
  margin: 0;
}

main ol > li > ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 1.5em 0 0 3em;
}

nav {
  border-right: 3px double #444444;
  bottom: 0;
  height: 100%;
  font-family: monospace;
  left: 0;
  position: fixed;
  top: 50px;
  z-index: 10;
}

nav > ol {
  border-top: 1px solid #444444;
  margin: 0;
  padding: 0;
  word-break: break-word;
  list-style-type: lower-roman;
  list-style-position: inside;
}

nav > ol > li {
  border-bottom: 1px solid #444444;
  padding-left: 5px;
}

nav > ol > li > a {
  display: block;
  line-height: 1em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: width 0.2s;
  width: 10px;
}

nav > ol > li > a:hover {
  color: #ed459c;
  /* text-decoration: underline; */
}

nav > ol > li::marker {
  font-size: 0.8em;
}

ol {
  list-style-type: lower-roman;
  list-style-position: inside;
  padding: 0;
}

ol > li::marker, ul > li::marker {
  font-family: monospace;
}

p {
  margin: 0 0 1.5em;
}

p + ul {
  margin: 0 0 1.5em 0;
  list-style-position: inside;
  list-style-type: disc;
}

p + ul > li {
  margin: 0;
}

strong {
  color: #ed459c;
  font-weight: bold;
}

time {
  display: block;
  font-family: monospace;
  line-height: 1.5em;
}

time::before {
 content: '_ ';
}

time::after {
 content: ' _';
}


time + a {
  display: inline-block;
  line-height: 3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

ul > li > h2 {
  border-bottom: none;
  display: block;
  margin-bottom: 1em;
}
